<%= search_form_for @q, url: admin_boards_path do |f| %>
  <div class="input-group mb-3">
    <%= f.label :title_or_body_cont, style: "display: none;" %>
    <%= f.search_field :title_or_body_cont, placeholder: "検索ワード",class: "form-control"%>
    <%= f.date_field :created_at_gteq, class: "form-control" %> ~ <%= f.date_field :created_at_lteq_end_of_day, class: "form-control" %>
    <%= f.submit '検索', class: "btn btn-primary" %>
  </div>
<% end %>