<% content_for(:title, 'ブックマーク一覧') %>

<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= search_form_for @search, url: bookmarks_boards_path do |f| %>
        <div class="input-group mb-3">
          <%= f.label :title_or_body_cont %>
          <%= f.search_field :title_or_body_cont, placeholder: "検索ワード",class: "form-control"%>
          <%= f.submit '検索', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% unless @results.any? %>
          <% if @bookmark_boards.present? %>
            <%= render @bookmark_boards %>
          <% else %>
            <p>ブックマーク中の掲示板がありません</p>
          <% end %>
        <% else %>
          <%= render partial: 'boards/board', collection: @results, as: :board %>
        <% end %>
      </div>
    <% if @results.any? %>
      <%= paginate @results %>
    <% else %>
      <%= paginate @boards %>
    <% end %>
    </div>
  </div>
</div>
