<% content_for(:title, @board.title) %>

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板詳細</h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @board.board_image.url, class: "card-img-top", size: '300×200' %>
            </div>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @board.title %></h3>
              <% if current_user.own?(@board) %>
                <%= render 'crud_menus', board: @board %>
              <% else %>
                <%= render 'bookmarks/bookmark_area', board: @board %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item"><%= @board.user.decorate.full_name%></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <p><%= @board.body %></p>
        </div>
      </article>
    </div>
  </div>
  <!-- コメントフォーム -->
  <%= render 'comments/form', {board: @board, comment: @comment } %>
  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments:  @comments } %>
</div>
