<% content_for(:title, 'ユーザー編集') %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1>ユーザー編集</h1>
            
            <%= form_with(model: @user, url: admin_user_path, local: true) do |f|  %>
                <div class="form-group">
                    <%= f.label :email %><br/>
                    <%= f.text_field :email, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :last_name %><br/>
                    <%= f.text_field :last_name, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :first_name %><br/>
                    <%= f.text_field :first_name, class: "form-control" %>
                </div>
                <div class="field">
                    <%= f.label :avatar_image %><br/>
                    <%= f.file_field :avatar_image, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
                </div>
                <div>
                    <%= image_tag @user.avatar_image.url, id: 'preview', size: '100x100', class: "rounded-circle"  %>
                </div>
                <%= f.select :role, User.roles.keys.map {|k| [I18n.t("enums.user.role.#{k}"), k]}, {}, {class: 'form-control', style: 'margin-bottom: 15px;', data: {}}  %>
                <div class="actions"><br />
                    <%= f.submit '更新する', class: "btn btn-primary" %>
                </div>
                <% end %>    
        </div>
    </div>
</div>